body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-h1{
    color: #FBFBF2;
    font-size: 40pt;
}
.instruction{
    color: #FBFBF2;
    font-size: 20pt;
}
.instr-link{
    color: #EF6461;
    text-decoration: none;
    font-size: 20pt;
}